/*************************************************** Estilos Gerais ***************************************************/
body {
    font-size: 16px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; }

i {
    display: inline-block;
    width: 25px;
    height: 22px;
    vertical-align: top;
}

.container { padding-bottom: 100px; }

.container h2 {
    margin: 90px 0 0;
    font-size: 40px;
}

.container h3 {
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 24px;
}

/*************************************************** Header Section ***************************************************/
#header { height: 860px; }

#header .row { margin-top: 300px; }

#header img { margin:0 auto; }

#header h1 {
    font-size: 42px;
    color: #FFF;
    margin: 30px 0 15px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.1;
}

#header p {
    font-size: 18px;
    color: #FFF;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

#container-header {
    background: url('img/content-header-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
}

/*************************************************** Section #grupos ***************************************************/
*[class^=ico-] {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: rgba(0, 0, 0, 0);
}

.ico-facebook { background-image: url('img/social/facebook/facebook-32.png'); }

.ico-googleplus { background-image: url('img/social/googleplus/googleplus-32.png'); }

.ico-email { background-image: url('img/social/email/email-32.png'); }

#grupos .membros { margin-top: 10px; }

/*************************************************** Section #proximos-eventos ***************************************************/
#container-eventosfuturos {
    border-top: 1px solid #E5E5E5; 
    background-color: #F8F8F9;
}

/*************************************************** Section #organizadores ***************************************************/
.wp-thumb-round img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: auto;
    width: 200px;
}

.wp-desc {
    margin-top: 10px;
}

.wp-desc h6 {
    font-size: 16px;
    margin: 0;
}

.wp-desc span {
    font-size: 12px;
    font-weight: normal;
    color: #AAA;
    display: inline;
}

#quem .row { margin-bottom: 70px; }

/*************************************************** Section #projetos ***************************************************/
#container-projetos {
    border-top: 1px solid #E5E5E5; 
    background-color: #F8F8F9;
}

#octocat { margin-right: 50px; }

/*************************************************** Section #eventos-passados ***************************************************/
.lista-eventos {
    list-style: none;
    padding: 0;
}

.lista-eventos .evento {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: transparent;
}

.portoalegre {
    background-image: url('img/wcpoa2013-bg.jpg');
    height: 338px;
}

.portoalegre a { margin-top: 250px; }

.rio {
    background-image: url('img/wcrjmeetup-bg.jpg');
    height: 422px;
}

.rio a { margin-top: 250px; }

.belohorizonte {
    background-image: url('img/wcbh2014-bg.jpg');
    height: 439px;
}

.belohorizonte a { margin-top: 380px; }

/*************************************************** Section #newsletter ***************************************************/
#mailing h2 { margin-bottom: 20px; }

#mailing p { margin-top: 37px; }

/*************************************************** Section #links ***************************************************/
#container-links { background-color: #3E4095; }

#links {
    color: #fff;
    padding-top: 50px;
}

#links ul { padding-left: 20px; }

#links h5 {
    color:#fff;
    font-weight: bold;
}

#links a {
    color: #fff;
    font-size: 14px;
}

/*************************************************** Section #creditos ***************************************************/
#creditos {
    padding: 8px 0;
    font-size: 12px;
}