@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800);

body {
    font-size: 16px;
    color: #333;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}

i{
    display: inline-block;
    width: 25px;
    height: 22px;
    vertical-align: top;
}

.ico-facebook{
    background: url('img/social/facebook/facebook-32.png') no-repeat top left rgba(0, 0, 0, 0);
    background-size: cover;
}
.ico-googleplus{
    background: url('img/social/googleplus/googleplus-32.png') no-repeat top left rgba(0, 0, 0, 0);
    background-size: cover;
}
.ico-email{
    background: url('img/social/email/email-32.png') no-repeat top left rgba(0, 0, 0, 0);
    background-size: cover;
}

.container{
    padding-bottom: 100px;
}

.container h2{
    text-align: center;
    margin: 90px 0 0;
    font-size: 40px;
}

.container h3{
    text-align: center;

    margin-bottom: 70px;
    font-size: 16px;
    line-height: 24px;
}

#container-header{
    background: url('img/content-header-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#header{
    height: 860px;
}

#header .row{
    margin-top: 300px;
}

#header h1{
    font-size: 42px;
    color: #FFF;
    margin-bottom: 15px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.1;
}

#header p {
    font-size: 18px;
    color: #FFF;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    width: 75%;
    margin-bottom: 25px;
}

/**********************************/

#container-grupos{

}

#grupos{

}

#grupos .col-md-3{
    text-align: center;
}

#grupos .membros{
    margin-top: 10px;

}

/**********************************/

#container-eventosfuturos{
    border-top: 1px solid #E5E5E5;  background-color: #F8F8F9;
}

#eventosfuturos{

}

#eventosfuturos .col-md-4{
    text-align: center;
}

/**********************************/

#container-riodejaneiro{
    background: url('img/meetuprio-bg.jpg') repeat-x top left transparent;
}

#riodejaneiro{
    height: 400px;
    position: relative;
    z-index: 1;
}

/**********************************/

#container-belohorizonte{
    background: url('img/wcbh2014-bg.jpg') no-repeat top left transparent;
    background-size: cover;
}

#belohorizonte{
    height:439px;
    text-align: center;
}

#belohorizonte img{
    margin-top: 30px;
}

/**********************************/

#container-portoalegre{
    background: url('img/wcpoa2013-bg.jpg') no-repeat top left transparent;
    background-size: cover;
}

#portoalegre{
    height: 338px;
    text-align: center;
}

#portoalegre a{
    margin-top: 250px;
}

/**********************************/

#container-eventospassados{

}

#eventospassados{

}

#eventospassados .col-md-4{
    text-align: center;
}

/**********************************/

#container-quem{
}

#quem .row{
    margin-bottom: 70px;
}

#quem .col-md-3{
    text-align: center;
}

.wp-thumb{

}

.wp-thumb img{
    border: 1px solid #ccc;
    width: 200px;
}

.wp-thumb-round{

}

.wp-thumb-round img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: auto;
    width: 200px;
}

.wp-desc{
    text-align: center;

    margin-top: 10px;
}

.wp-desc a{
}

.wp-desc h6{
    font-size: 16px;
    margin: 0;
}

.wp-desc span{
    font-size: 12px;
    font-weight: normal;
    color: #AAA;
    display: inline;
}

/**********************************/

#container-projetos{
    border-top: 1px solid #E5E5E5;  background-color: #F8F8F9;
}

#projetos{
    text-align: center;
}

#octocat{
    margin-right: 50px;
}

#projetos a.btn{

}
/********************************************/

#container-links{
    background-color: #3E4095;
}

#links{
    padding-top: 50px;
}

#links img{}

#links ul{
    padding-left: 20px;

}

#links h5{
    color:#fff;
    font-weight: bold;
}

#links a{
    color: #fff;
    font-size: 14px;
}


/********************************************/

#container-mailing{

}

#mailing{

}

#mailing h2{
    margin-bottom: 20px;
}

#mailing p{
    margin-top: 37px;
}

/********************************************/

#container-creditos{

}

#creditos{
    text-align: center;
    padding: 8px 0;
    font-size: 12px;
}

/********************************************/

#facebook{

}